<header class="header">
    <div class="overlay has-fade"></div>

    <nav class=" container--pall flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo">
            <img src="/image/cookingbrand.png" alt="logo" />
        </a>

        <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <div class="header__links hide-for-mobile">
            <a href="/home">Home</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </nav>

    <div class="header__menu has-fade">
        <a href="">Home</a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </div>
</header>