<nav class="topnav">
    <img class="logo" src="/image/cookingbrand.png" />
    <a href="" class="brand">CookBook</a>
    <div>
        <a href="">Masuk</a>
        <a href="">Resep</a>
        <a href="">Acara</a>
        <a href="">Tentang Kami</a>
    </div>
</nav>