<footer>
    <div class="link-website">
        <h2>Navigasi Website</h2>
        <a>Resep</a>
        <a>Acara</a>
        <a>Tentang Kami</a>
    </div>
    <div class="info-website">
        <h2>Kontak Kami</h2>
        <p>Apabila terdapat kritik dan saran atau pertanyaan lebih lanjut, hubungi kami melalui:</p>
        <p><i class="fab fa-whatsapp"></i> : 08xx-xxxx-xxxx</p>
        <p><a><i class="fab fa-twitter"></i> : @namasupermarket</a></p>
        <p><a><i class="fab fa-instagram"></i> : @namasupermarket</a></p>
        <a></a>
    </div>
</footer>