
::-webkit-scrollbar-track-piece{
        background-color: #000000;
}
::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: rgb(159, 235, 216);
}
.centered{
  display: block;
  text-align: center;
}