.body-event{
    padding-top: 100px;
    margin: 1% 15% 3% 7%;
    width:inherit;
    overflow-x:hidden;
    .top-event{
        display: block;
        text-align: center;
        p{
            text-align: right;
        }
    }
    .img-display{
        display: block;
        // border-radius: 50%;
        display: block;
        margin:0 auto;
        max-width: 400px;
        max-height: 400px;
        size:500px;
    }
    .markdone{
        display: block;
        margin: 3% 3%;
    }
    

}