.body-home{
    background-image: url(/image/pexels-maarten-van-den-heuvel-2284166.jpg);
    background-size: cover;

    .box-info {
        order: 2;
        background-color: rgba(255, 180, 66, 0.6);
        position: relative;
        padding: 100px;
        margin: 0px 150px 0px 150px;
            & .info-header{
            margin: 100px;
            color: black;
            text-align: center;
            & button{
                background-color: #00a29e;
                color: #fff8e6;
                text-decoration: none;
                text-align: center;
                padding: 10px;
                margin: 5px;
                font-size: 20px;
                border: none;
                border-radius: 15px;
                & button:hover{
                    color:black;
                }
            }
            }
    }
}

section {
    order: 3;
    display: flex;
    background-color: #ffb442;
}

.resep {
    order: 3;
    flex: 50%;
    overflow: hidden;
}

.resep-box {
    flex-flow: row wrap;
    display: flex;
    justify-content: space-evenly;
}

.resep-box a {
    display: flex;
    align-items: center;
    padding: 50px 50px;
    background-color: #fff8e6;
    margin: 30px 10px 50px 20px;
    .ImageEvent{
        width: 200px;
        height: 200px;
        size:300px
    }
}

.resep h2 {
    text-align: center;
    background-color: #e15d5d;
    padding: 10px 0;
}

.acara-box {
    flex-flow: row wrap;
    display: flex;
    justify-content: space-evenly;
}

.acara-box a {
    display: flex;
    align-items: center;
    padding: 50px 50px;
    background-color: #fff8e6;
    margin: 30px 10px 50px 20px;
    .ImageEvent{
        width: 200px;
        height: 200px;
        size:300px
    }
}

.acara {
    order: 3;
    flex: 50%;
    flex-flow: row wrap;
}

.acara h2 {
    text-align: center;
    background-color: #e15d5d;
    padding: 10px 0;
}
    

/* Footer */
footer {
//     order: 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #00a29e;
    .link-website {
        display: flex;
        flex-flow: column wrap;
        margin: 50px;
            .info-website {
            display: flex;
            flex-flow: column wrap;
            margin: 50px;
        }
    }
}




    // .event-box{
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: space-around;
    //     align-items: stretch;
    //     background-color: #00a29e;
    //     .boxEvent{
    //     margin-left: 2rem;
    //     background-color: black;
    //     width: 20rem;
    //     max-width: 95%;
    //     margin: 1rem;
    //     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    //     .box-header{
    //         padding: 1rem;
    //         h1{
    //             margin:0
    //         }
    //     }
    //     .box-image{
    //         // height: 10rem;
    //         // width: 100%;
    //         background-color: black;
           
    //         text-align: center;
    //         & img{
    //             width: 150px;
    //             // max-height: 100%;
    //             // max-width: 100%;
    //         }
    //     }
    // }
    // }
    
    
