.bodyPost-resep{
position: absolute;
padding-top: 100px;
padding-left: 5rem;
width: 100%;
padding-right: 3rem;
align-items: center;
.form-resep{
    margin: auto;
    // width: 50rem;
    .form-group{
        margin-top: 1rem;
    textarea{
        text-align:left;
        &:focus{
            text-align:left;
        }
    }

   
    }
}
}