
.container{
    position: absolute;
    top:0;
    left: 5%;
    margin-top: 10%;
    
}
.btn-postEvent{
    margin-top: 5%;
    position: absolute;
    
}
textarea{
        text-align:left;
        &:focus{
            text-align:left;
        }
    }