.bodyPost-product{
    // background-color:black ;
    padding-top: 10%;
    padding-left: 3rem;
    align-items: center;
    .form-group{
        margin:10px 50px 10px 0;
    }
    .btn-postProduct{
        margin:10px 0;
    }
}