
.body-postEvent{
    position: absolute;
    margin-top: 100px;
    padding-left: 5rem;
width: 100%;
padding-right: 3rem;
}
.btn-postEvent{
    display: flex;
    margin-top:10px;
    
}
.number{
    width: 25%;
}
textarea{
        text-align:left;
        &:focus{
            text-align:left;
        }
    }