.body-profile{
    padding-top: 100px;
    margin-top: 3%;
    max-width: 100%;
    overflow-x:hidden;
    background-color: rgb(255, 180, 66);
    .profil{
        display: flex;
        align-self: flex-start;
        background-color: #00a29e;
        flex-flow: column wrap;
        padding: 20px;
        margin: 40px 20px;
        width: fit-content;
        height: auto;
        & .button {
      background-color: #00a29e;
      color: #fff8e6;
      align-self: center;
      text-decoration: none;
      text-align: center;
      padding: 10px;
      margin: 5px;
      font-size: 20px;
      border: 1px solid black;
      border-radius: 15px;
    }
    .button-inline{
        margin: 10px;
        align-self: center;
        & .btn-inline{
        color: #fff8e6;
        // border: 1px solid black;
      border-radius: 15px;
    }
    }
    
    .header {
    display: flex;
    position: relative;
    height: 500px;
    width: fit-content;
    text-align: center;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    .fheader {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
    }

    .isiheader {
        position: absolute;
        flex-flow: column wrap;
        min-width: 300px;
        line-height: 1.6;
        background-color: rgba(255, 248, 230, 0.6);
        justify-content: center;
        padding: 30px;
        border-radius: 10px;
        .fprofil {
        width: 150px;
        height: 150px;
        border: 10px solid rgb(255, 180, 66);
        border-radius: 50%;
     
    }
       .capai {
        margin-top: 50px;
    }
    .capai div{
        display:inline-block;
        margin: 0 10px;
        }
    }
    .cred {
      display: flex;
      flex-flow: row wrap;
      justify-content: baseline;
      margin: 30px;
      & label{
            width: 500px;
            flex: 1 1;
            background-color: #fff8e6;
            padding: 10px 20px;
            border-radius: 10px;
            margin-right: 20px;
        }
        .nama{
            display: inline-flex;
            justify-content: space-between;
            
            width: 100%;
            & input{
                margin: 0 5px;
            }
        }
    }
    #resep{
            // position: absolute;
            max-height: 90vh;
            overflow-y: auto;
            border-radius: 20px;
            margin-top: 10px;
            margin-right: 20px;
            padding: 10px 10px;
            // background-color:transparent ;
            .box{
                background-color: rgba(85, 214, 182, 0.493);
                margin: 15px;
                border-radius: 20px;
                padding: 10px;
            }
        }
    #event{
        // position: absolute;
        max-height: 90vh;
            overflow-y: auto;
            border-radius: 20px;
            margin-top: 10px;
            margin-right: 20px;
            padding: 10px 10px;
            .box{
                background-color: rgba(85, 214, 182, 0.493);
                margin: 15px;
                border-radius: 20px;
                padding: 10px;
            }
    }
    #bahan{
        max-height: 90vh;
            overflow-y: auto;
            border-radius: 20px;
            margin-top: 10px;
            margin-right: 20px;
            padding: 10px 10px;
            .box{
                background-color: rgba(85, 214, 182, 0.493);
                margin: 15px;
                border-radius: 20px;
                padding: 10px;
            }
    }
    }







    
    
}