.body-profile{
    
    padding-top: 100px;
    margin-top: 3%;
    max-width: 100%;
    overflow-x:hidden;
    .profil{
        position: absolute;
        border-radius: 20px;
        background-color: rgb(122, 199, 195);
        margin-left: 20px;
        padding: 20px 20px;
        max-height: 90vh;
        max-width: 300px;
        margin-bottom: 10px;
        .form-control{
            width: 260px;
        }
        .profile-picture{
            // background-color: pink;
            border-radius: 50%;
            // display: block;
            margin:20px auto;
            width: 150px;
            height: 150px;
        display: inline-block;
        text-align: center;
        

            
        } 
        #input-gambar{
            // top: 110px;
            // position: absolute;
            left: 0;
            // width: 300px;
            // height: 125px;
            // z-index: -1;
            // background: black;
            

        }
         
        .gambar-profil{
            display: block;
            margin:0 auto;
            
        }
        .informasi-user{
            // background-color: purple;
            top:0
            // position: absolute;
            // display: block;
            // margin: 20px auto;
        }
        .button{
            margin-top: 10px;
        }
        #resep-button #event-button{
            margin: 10px 10px;
        }
    }
    #resep{
            // position: absolute;
            max-height: 90vh;
            overflow-y: auto;
            border-radius: 20px;
            margin-top: 10px;
            margin-right: 20px;
            padding: 10px 10px;
            // background-color:transparent ;
            .box{
                background-color: rgba(85, 214, 182, 0.493);
                margin: 15px;
                border-radius: 20px;
                padding: 10px;
            }
        }
    #event{
        // position: absolute;
        max-height: 90vh;
            overflow-y: auto;
            border-radius: 20px;
            margin-top: 10px;
            margin-right: 20px;
            padding: 10px 10px;
            .box{
                background-color: rgba(85, 214, 182, 0.493);
                margin: 15px;
                border-radius: 20px;
                padding: 10px;
            }
    }
    #bahan{
        max-height: 90vh;
            overflow-y: auto;
            border-radius: 20px;
            margin-top: 10px;
            margin-right: 20px;
            padding: 10px 10px;
            .box{
                background-color: rgba(85, 214, 182, 0.493);
                margin: 15px;
                border-radius: 20px;
                padding: 10px;
            }
    }
}