.body-resep{
    padding-top: 100px;
    margin: 1% 15% 3% 7%;
    width:inherit;
    .resep-top{
        display: block;
        text-align: center;
        p{
            text-align: right;
        }
    }
    .img-display{
        display: block;
        display: block;
        margin:0 auto;
        max-width: 400px;
        max-height: 400px;
        size:500px;
    }
    .markdone{
        display: block;
        margin: 3% 3%;
    }
    .card-group{
        margin: 10px 10px;
    }
    .card-style{
        position: relative;
        display: block;
        max-width:200px;
        max-height: 150px;
        background-color: rgb(114, 219, 184);
        margin:auto 20px;
        margin-bottom: 200px;
        
        .img{
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 100px;
        }
    }
    .card-footer{
        .btn{
            display: block;
            margin: 0 auto;
        }
    }
    .likelength{
        display: flex;
    }
}