.body-reseps{
    padding-top: 10%;
    margin: 3% 15% 3% 7%;
    width:inherit;
    
}
.icon-sort{
        color: orange;
        text-decoration: none;
        margin: 0 10px;
    }
    .resepItem{
        
        padding: 10px;
        margin: 10px;
        .resepImageItem{
            float: right;
            max-width: 200px;
            max-height: 200px;
    }
}.not-Found{
        text-align: center;
        font-size: 25px;
        margin: 10px;
    }
    