<%- include ('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include ('component/navbar.ejs') %>
        <div class="body-about">
            
                <div class="cover">
                    <h1>Kenali Kami!</h1>
                </div>
                <section>
                <div class="konten1">
                    <div class="teks1">
                        <h2>Visi dan Misi</h2>
                        <p>CookBook merupakan komunitas sampingan pecinta masakan dimana setiap anggota dapat berbagi resep and
                            membeli bahan secara langsung dari supermarket kami. CookBook dimulai pada tahun 2021 dan dibangun
                            dengan tujuan menemukan pecinta masakan yang ingin berbagi cerita dan resep. Tidak hanya itu, kami juga
                            ingin pecinta masakan untuk menemukan kaumnya dan berbagi suka serta duka dalam kehidupan memasak. Untuk
                            mewujudkan tujuan tersebut, kami menyediakan layanan pengantar bahan makanan yang kami tautkan pada tiap
                            resep yang diterbitkan. Dengan ini, pembeli hanya cukup menunggu pengirim untuk mengantarkan bahan
                            makanan tersebut.</p>
                    </div>
                    <div class="foto1">
                        <img src="/image/edgar-castrejon-bG5rhvRH0JM-unsplash.jpg" />
                    </div>
            </section>
            <section>
                <div class="konten2">
                    <h2>Bergabunglah dengan Kami!</h2>
                    <p>CookBook membuka pintu untuk semua jenis pecinta makanan dengan umur minimal 15 tahun. Dimulai dari pecinta
                        Amerika, Asia Selatan, Afrika, Eropa, hingga vegetarian, pediet keto, dan bebas gluten. Jangan lupa kunjungi
                        supermarket kami di kota Anda!</p>
                </div>
                </div>
            </section>
        </div>
        <%- include ('includes/footer.ejs') %>

    <%- include('includes/end.ejs') %>