.centered {
  display: block;
  text-align: center;
}

footer {
  padding: 0 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #00a29e;
}

footer .link-website {
  display: flex;
  flex-flow: column wrap;
  margin: 50px;
}

footer .link-website .info-website {
  display: flex;
  flex-flow: column wrap;
  margin: 50px;
}

.pagination {
  width: 100%;
  text-align: center;
  background-color: transparent;
  display: block;
  margin: none 7%;
}

.pagination a {
  text-decoration: none;
  color: black;
}

.topnav {
  background-color: #00a29e;
  float: right;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
}

.topnav .logo {
  float: left;
  width: 100px;
  height: 100px;
  padding: 20px 5px 10px 2px;
  align-self: center;
}

.topnav a {
  float: left;
  position: relative;
  text-align: center;
  color: #fff8e6;
  text-decoration: none;
  padding: 10px 0 0 20px;
}

.topnav .brand {
  font-size: 50px;
}

.topnav div {
  float: right;
  font-size: 20px;
  padding: 20px 20px;
  margin-right: 20px;
}

.topnav div a:hover {
  color: black;
}

.topnav .dropbtn {
  background-color: transparent;
  border: none;
  position: relative;
  text-align: center;
  color: white;
  bottom: 10px;
  cursor: pointer;
}

.topnav .dropbtn:hover {
  color: black;
}

.topnav .dropdown {
  position: relative;
  display: inline-block;
}

.topnav .list {
  position: relative;
  height: 10px;
  bottom: 20px;
}

.topnav .dropdown-content {
  display: none;
  border-radius: 15px 50px 30px;
  position: absolute;
  background-color: #f9f9f9;
  width: 150px;
  margin-right: 20px;
  overflow-y: auto;
  max-height: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.topnav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.topnav .dropdown-content a:hover {
  background-color: #b6adad;
}

.topnav .dropdown:hover .dropdown-content {
  display: block;
}

.container-404 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 10rem;
}

.body-home {
  background-image: url(/image/pexels-maarten-van-den-heuvel-2284166.jpg);
  background-size: cover;
}

.body-home .box-info {
  order: 2;
  background-color: rgba(255, 180, 66, 0.6);
  position: relative;
  padding: 100px;
  margin: 0px 150px 0px 150px;
}

.body-home .box-info .info-header {
  margin: 100px;
  color: black;
  text-align: center;
}

.body-home .box-info .info-header button {
  background-color: #00a29e;
  color: #fff8e6;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
}

.body-home .box-info .info-header button a {
  text-decoration: none;
  color: white;
}

.body-home .box-info .info-header button button:hover {
  color: black;
}

.body-home section {
  order: 3;
  display: flex;
  background-color: #ffb442;
}

.body-home .resep {
  order: 3;
  flex: 50%;
  overflow: hidden;
}

.body-home .resep-box {
  flex-flow: row wrap;
  display: flex;
  justify-content: space-evenly;
}

.body-home .resep-box a {
  display: flex;
  align-items: center;
  padding: 50px 50px;
  background-color: #fff8e6;
  margin: 30px 10px 50px 20px;
}

.body-home .resep-box a .ImageEvent {
  width: 200px;
  height: 200px;
  size: 300px;
}

.body-home .resep h2 {
  text-align: center;
  background-color: #e15d5d;
  padding: 10px 0;
}

.body-home .acara-box {
  flex-flow: row wrap;
  display: flex;
  justify-content: space-evenly;
}

.body-home .acara-box a {
  display: flex;
  align-items: center;
  padding: 50px 50px;
  background-color: #fff8e6;
  margin: 30px 10px 50px 20px;
}

.body-home .acara-box a .ImageEvent {
  width: 200px;
  height: 200px;
  size: 300px;
}

.body-home .acara {
  order: 3;
  flex: 50%;
  flex-flow: row wrap;
}

.body-home .acara h2 {
  text-align: center;
  background-color: #e15d5d;
  padding: 10px 0;
}

.btn-register {
  margin-top: 1rem;
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}

.btn-register :hover {
  background-color: #39ace7;
}

#icon {
  width: 50%;
}

.name {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  color: #F55203;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

.body-login h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  padding-top: 10%;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

/* TABS */
/* FORM TYPOGRAPHY*/
.btn-register {
  margin-top: 1rem;
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}

.btn-register :hover {
  background-color: #39ace7;
}

.form-register-login {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

.form-register-login:focus {
  background-color: #fff;
  border-bottom: 2px solid #F55203;
}

.form-register-login::placeholder {
  color: #797171;
}

input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #F55203;
}

input[type=password]::placeholder {
  color: #797171;
}

/* ANIMATIONS */
/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #F55203;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */
*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

.body-postEvent {
  position: absolute;
  margin-top: 100px;
  padding-left: 5rem;
  width: 100%;
  padding-right: 3rem;
}

.btn-postEvent {
  display: flex;
  margin-top: 10px;
}

.number {
  width: 25%;
}

textarea {
  text-align: left;
}

textarea:focus {
  text-align: left;
}

.body-profile {
  padding-top: 100px;
  margin-top: 3%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #ffb442;
}

.body-profile .profil {
  display: flex;
  align-self: flex-start;
  background-color: #00a29e;
  flex-flow: column wrap;
  padding: 20px;
  margin: 40px 20px;
  width: fit-content;
  height: auto;
}

.body-profile .profil .button {
  background-color: #00a29e;
  color: #fff8e6;
  align-self: center;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

.body-profile .profil .button-inline {
  margin: 10px;
  align-self: center;
}

.body-profile .profil .button-inline .btn-inline {
  color: #fff8e6;
  border-radius: 15px;
}

.body-profile .profil .header {
  display: flex;
  position: relative;
  height: 500px;
  width: fit-content;
  text-align: center;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

.body-profile .profil .header .fheader {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.body-profile .profil .isiheader {
  position: absolute;
  flex-flow: column wrap;
  min-width: 300px;
  line-height: 1.6;
  background-color: rgba(255, 248, 230, 0.6);
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
}

.body-profile .profil .isiheader .fprofil {
  width: 150px;
  height: 150px;
  border: 10px solid #ffb442;
  border-radius: 50%;
}

.body-profile .profil .isiheader .capai {
  margin-top: 50px;
}

.body-profile .profil .isiheader .capai div {
  display: inline-block;
  margin: 0 10px;
}

.body-profile .profil .cred {
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;
  margin: 30px;
}

.body-profile .profil .cred label {
  width: 500px;
  flex: 1 1;
  background-color: #fff8e6;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 20px;
}

.body-profile .profil .cred .nama {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.body-profile .profil .cred .nama input {
  margin: 0 5px;
}

.body-profile .profil #resep {
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px 10px;
}

.body-profile .profil #resep .box {
  background-color: rgba(85, 214, 182, 0.493);
  margin: 15px;
  border-radius: 20px;
  padding: 10px;
}

.body-profile .profil #event {
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px 10px;
}

.body-profile .profil #event .box {
  background-color: rgba(85, 214, 182, 0.493);
  margin: 15px;
  border-radius: 20px;
  padding: 10px;
}

.body-profile .profil #bahan {
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px 10px;
}

.body-profile .profil #bahan .box {
  background-color: rgba(85, 214, 182, 0.493);
  margin: 15px;
  border-radius: 20px;
  padding: 10px;
}

.bodyPost-resep {
  position: absolute;
  padding-top: 100px;
  padding-left: 5rem;
  width: 100%;
  padding-right: 3rem;
  align-items: center;
}

.bodyPost-resep .form-resep {
  margin: auto;
}

.bodyPost-resep .form-resep .form-group {
  margin-top: 1rem;
}

.bodyPost-resep .form-resep .form-group textarea {
  text-align: left;
}

.bodyPost-resep .form-resep .form-group textarea:focus {
  text-align: left;
}

.body-event {
  padding-top: 100px;
  margin: 1% 15% 3% 7%;
  width: inherit;
  overflow-x: hidden;
}

.body-event .top-event {
  display: block;
  text-align: center;
}

.body-event .top-event p {
  text-align: right;
}

.body-event .top-event .custom {
  text-align: right;
  font-weight: bold;
}

.body-event .img-display {
  display: block;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  max-height: 400px;
  size: 500px;
}

.body-event .markdone {
  display: block;
  margin: 30px 0;
}

.body-event .markdone .btn-daftar {
  margin-top: 20px;
}

.body-events {
  padding-top: 100px;
  margin: 1% 15% 3% 7%;
  width: inherit;
}

.body-resep {
  padding-top: 100px;
  margin: 1% 15% 3% 7%;
  width: inherit;
}

.body-resep .resep-top {
  display: block;
  text-align: center;
}

.body-resep .resep-top p {
  text-align: right;
}

.body-resep .img-display {
  display: block;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  max-height: 400px;
  size: 500px;
}

.body-resep .markdone {
  display: block;
  margin: 3% 3%;
}

.body-resep .card-group {
  margin: 10px 10px;
}

.body-resep .card-style {
  position: relative;
  display: block;
  max-width: 200px;
  max-height: 150px;
  background-color: #72dbb8;
  margin: auto 20px;
  margin-bottom: 200px;
}

.body-resep .card-style .img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.body-resep .card-footer .btn {
  display: block;
  margin: 0 auto;
}

.body-resep .likelength {
  display: flex;
}

.body-reseps {
  padding-top: 100px;
  margin: 1% 15% 3% 7%;
  width: inherit;
}

.icon-sort {
  color: orange;
  text-decoration: none;
  margin: 0 10px;
}

.resepItem {
  padding: 10px;
  margin: 10px;
}

.resepItem a {
  text-decoration: none;
  color: black;
}

.resepItem .resepImageItem {
  float: right;
  max-width: 200px;
  max-height: 200px;
}

.not-Found {
  text-align: center;
  font-size: 25px;
  margin: 10px;
}

.body-order {
  padding-top: 110px;
}

.body-order .orders {
  margin: 0 20px;
  list-style: none;
  border: 1px black solid;
  font-size: 15px;
}

.body-order .orders .order-bahan {
  list-style: none;
}

.body-comment {
  margin: 3% 0;
}

.comment-list {
  position: relative;
  margin-bottom: 100px;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;
}

.komentator {
  padding-left: 50px;
  background-color: #808080;
  border-radius: 0.75em;
  max-width: 100%;
  margin: 0 20px 20px 20px;
}

.komentator .comment {
  padding: 10px 10px;
}

.komentator .comment .foto {
  display: block;
}

.komentator .comment .foto .img-comment {
  display: block;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.komentator .comment .deskripsi .nama {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -1px;
}

.komentator .comment .deskripsi .konten {
  width: 80%;
  display: flex;
  word-break: break-all;
}

.komentator .btn-delete {
  float: right;
  margin: 0 20px 20px 20px;
}

.komentar {
  border: #cfbaba 4px solid;
  margin-left: 3%;
  min-height: 250px;
  width: 550px;
  position: relative;
  padding: 2% 3%;
  margin-bottom: 10px;
}

.komentar .Komentar {
  margin-right: 10px;
}

.bodyPost-product {
  padding-top: 100px;
  padding-left: 3rem;
  align-items: center;
}

.bodyPost-product .form-group {
  margin: 10px 50px 10px 0;
}

.bodyPost-product .btn-postProduct {
  margin: 10px 0;
}

.body-cart {
  position: absolute;
  padding-top: 100px;
  margin-top: 10px;
  width: 100%;
}

.body-cart .cart-item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 40rem;
  max-width: 90%;
}

.body-cart .cart-item-list .cart-item {
  background-color: #319688;
  border-radius: 1rem;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.body-cart .cart-item-list .cart-item h2, .body-cart .cart-item-list .cart-item h1 {
  margin-right: 1rem;
  font-size: 1.2rem;
  margin: 0;
}

.body-cart .cart-item-list .cart-item button {
  margin-top: 1rem;
}

.body-cart .cart-item-list .cart-item .col-img .img-cart {
  border-radius: 1rem;
  float: right;
  width: 100px;
  height: 100px;
}

.body-cart .order {
  border-radius: 1rem;
  margin: auto;
  background-color: #92cab8;
  display: block;
  width: 40rem;
  max-width: 90%;
  text-align: center;
}

.body-cart .order h2, .body-cart .order h1 {
  margin-right: 1rem;
  font-size: 1.2rem;
  margin: 0;
}

.body-about {
  padding-top: 100px;
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.body-about .cover {
  align-items: center;
  overflow-x: hidden;
  position: relative;
  background-image: url(/image/calum-lewis-vA1L1jRTM70-unsplash.jpg);
  height: 500px;
  background-size: cover;
}

.body-about .cover h1 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  position: absolute;
}

.body-about .konten1 {
  display: flex;
  justify-content: space-between;
  background-color: #ffb442;
}

.body-about .konten1 .teks1 {
  flex: 50%;
  margin: 20px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.body-about .konten1 .teks1 p {
  text-indent: 20px;
  text-align: justify;
}

.body-about .konten1 .teks1 h2 {
  text-align: center;
}

.body-about .konten1 .foto1 {
  order: 3;
  flex: 50%;
  flex-flow: row wrap;
}

.body-about .konten1 .foto1 img {
  align-self: center;
  margin: 40px;
  object-position: right;
  object-fit: cover;
  height: 400px;
  width: 600px;
  border: 3px solid #00a29e;
}

.body-about section {
  background-color: #ffb442;
}

.body-about section .konten2 {
  margin: 0 20px 20px 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */