<header>
<nav class="topnav">
    <img class="logo" src="/image/cookingbrand.png" />
    <a href="/" class="brand">CookBook</a>
    <div>
        <div class="list">
<a href="/reseps">Resep</a>
<a href="/events">Acara</a>
<% if(isAuthenticated){ %> 
    <a href="/cart">Cart</a>
    <a href="/order">Order</a>
    <% } %> 
<a href="/aboutUs">Tentang Kami</a>
<% if (isAuthenticated) { %>
    <div class="dropdown">
        <button class="dropbtn">Profil</button>
        <div class="dropdown-content">
            <a href="/profil">Profil</a>
            <a href="/add-resep">Resep</a>
            <% if (user.admin==true) { %>
                <a href="/add-product">Product</a>
                <a href="/add-event">Event</a>
                <% } %>
                <a href="/logout">Sign Out</a>
        </div>
    </div>


    <% } else if (!isAuthenticated) { %>
        <a href="/login">Login</a>
        <% } %>
        </div>
       
    </div>
</nav>
</header>