<header>
<nav class="topnav">
    <img class="logo" src="https://cookbook-kel7.s3.ap-southeast-1.amazonaws.com/icon/WhatsApp_Image_2021-10-05_at_20.24.42-removebg-preview.png"/>
    <a href="/" class="brand">CookBook</a>
    <div>
        <div class="list">
<a href="/reseps">Resep</a>
<a href="/events">Acara</a>

<% if (isAuthenticated) { %>
    <a href="/cart">Cart
        <% if(user.cart.items.length!=0){ %> 
            <span class="badge bg-danger">
                <%= user.cart.items.length %> 
            </span>
        <% } %> 
    </a>
    <div class="dropdown">
        <button class="dropbtn">Profil</button>
        <div class="dropdown-content">
            <a href="/profil">Profil</a>
            <a href="/order">Order</a>
            <a href="/add-resep">Resep</a>
            <% if (user.admin==true) { %>
                <a href="/add-product">Product</a>
                <a href="/add-event">Event</a>
                <% } %>
                <a href="/logout">Sign Out</a>
        </div>
    </div>


    <% } else if (!isAuthenticated) { %>
        <a href="/about">Tentang Kami</a>
        <a href="/login">Login</a>
        <% } %>
        </div>
       
    </div>
</nav>
</header>