<%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        <%- include ('../component/navbar.ejs') %>
            <div class="container-404">
                <h1>Sedang ada perbaikan</h1>

            </div>


            <%- include('../includes/end.ejs') %>